<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuandai.architecture.repository.UserAccountRepository">
    <resultMap id="baseResultMap" type="com.tuandai.architecture.domain.UserAccount">
        <result column="id" property="id" jdbcType="INTEGER"/>
        <result column="name" property="name" jdbcType="VARCHAR"/>
        <result column="account" property="account" jdbcType="INTEGER"/>
        <result column="create_time" property="createTime" javaType="java.sql.Date" jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="createIfNotExistsTable">
        CREATE TABLE IF NOT EXISTS t_user_account (
         id INT AUTO_INCREMENT, 
         name VARCHAR(1024),
         account INT,
         create_time TIMESTAMP,
		 PRIMARY KEY (id));
    </update>

    <update id="truncateTable">
        TRUNCATE TABLE t_user_account;
    </update>
    
    <update id="dropTable">
        DROP TABLE IF EXISTS t_user_account;
    </update>
    
    <update id="tryAccount">
        UPDATE t_user_account
        SET account = account - #{account,jdbcType=INTEGER}
        WHERE name = #{name,jdbcType=VARCHAR}
    </update>
    
    <update id="cancelAccount">
        UPDATE t_user_account
        SET account = account + #{account,jdbcType=INTEGER}
        WHERE name = #{name,jdbcType=VARCHAR}
    </update>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_user_account (
          id, name, account, create_time
        )
        VALUES (
        #{id,jdbcType=INTEGER},
        #{name,jdbcType=VARCHAR},
        #{account,jdbcType=INTEGER},
        #{createTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <delete id="delete">
        DELETE FROM t_user_account WHERE id = #{id,jdbcType=INTEGER}
    </delete>
    
    <select id="getById" resultMap="baseResultMap">
        SELECT  id, name, account, create_time 
        FROM t_user_account WHERE id = #{id,jdbcType=INTEGER}
    </select>
    
</mapper>
