<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.tuandai.architecture.repository.TransUrlsRepository">
    <resultMap id="baseResultMap" type="com.tuandai.architecture.domain.TransUrls">
        <result column="id" property="id" jdbcType="BIGINT"/>
        <result column="trans_id" property="transId" jdbcType="BIGINT"/>
        <result column="trans_url" property="transUrl" jdbcType="VARCHAR"/>
        <result column="trans_url_param" property="transUrlParam" jdbcType="VARCHAR"/>
        <result column="create_time" property="createTime"  jdbcType="TIMESTAMP"/>
        <result column="update_time" property="updateTime"  jdbcType="TIMESTAMP"/>
    </resultMap>

    <update id="createIfNotExistsTable">
        CREATE TABLE IF NOT EXISTS t_trans_urls (
         id BIGINT AUTO_INCREMENT, 
         trans_id BIGINT, 
         trans_url VARCHAR(1024),
         trans_url_param VARCHAR(1024),
         create_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP  ,
         update_time TIMESTAMP DEFAULT CURRENT_TIMESTAMP ON UPDATE CURRENT_TIMESTAMP,
		 PRIMARY KEY (id))
		 ENGINE=InnoDB  DEFAULT CHARSET=utf8;;
    </update>

    <update id="truncateTable">
        TRUNCATE TABLE t_trans_urls;
    </update>
    
    <update id="dropTable">
        DROP TABLE IF EXISTS t_trans_urls;
    </update>
    
    <insert id="insert" useGeneratedKeys="true" keyProperty="id">
        INSERT INTO t_trans_urls (
          trans_id, trans_url, trans_url_param, create_time, update_time
        )
        VALUES (
        #{transId,jdbcType=INTEGER},
        #{transUrl,jdbcType=VARCHAR},
        #{transUrlParam,jdbcType=VARCHAR},
        #{createTime,jdbcType=TIMESTAMP},
        #{updateTime,jdbcType=TIMESTAMP}
        )
    </insert>
    
    <delete id="deleteByTransId">
        DELETE FROM t_trans_urls WHERE trans_id = #{transId,jdbcType=INTEGER}
    </delete>
    
    <select id="getByTransId" resultMap="baseResultMap">
        SELECT
        id, trans_id, trans_url, trans_url_param, create_time, update_time
        FROM
        t_trans_urls 
        WHERE trans_id = #{transId,jdbcType=INTEGER}
        ORDER BY create_time
        LIMIT 1000
    </select>
</mapper>
